.nav a {
  color: grey;
  border-bottom: solid 4px grey;
}

.nav a:hover {
  color: white;
  border-bottom-color: white;
}

.nav .home {
  margin: 0 10px 0 5px;
}
.nav .features {
  margin: 0 10px 0 5px;
}
.nav .contact {
  margin: 0 10px 0 5px;
}

footer {
  position: absolute;
  bottom: 0;
}
